<!DOCTYPE html>
<html lang="en">

    <%-include('../layout/head.ejs')%>


<body>
    <header>
        <%-include('../layout/header.ejs')%>

    </header>
    <main>
        <div id="details">
            <p>confirmed Cases:
                <%=country.totalConfirmed%>
            </p>
            <p>Total Deaths:
                <%=country.totalDeaths%>
            </p>
            <p>Total Recovered:
                <%=country.totalRecovered%>
            </p>
            <p>Date:
                <%=country.date%>
            </p>

            <form action="/details/<%=country.id%>?_method=DELETE" method="POST">
                <input type="submit" value="Delete">
            </form>

        </div>
    </main>
    <%-include('../layout/footer.ejs')%>

</body>

</html>